

body {
    background: #eef3f4;
    background: linear-gradient(90deg, #eef3f4 0%, #caebed 15%, #c1bbe3 100%); }

#encasa{
    color: red;
}



.selec{
    margin-top: 2rem;
    margin-bottom: 3rem;
    
}

.titulo{
    
    border: solid;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,121,9,1) 35%, rgba(0,212,255,1) 100%);
}
    
.botones{
    display: flex;
    justify-content: space-around;

}


.btn1 {
    width: 8rem;
    height: 4rem;
    text-size-adjust: 2rem;
    background-color: #84d68f;
    border: solid;
    color: black;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight:bold;
    position: relative;
    left: 1%;
    margin-bottom: 1rem;
    margin-top: 5rem; 
   
}

.btn2 {
    width: 8rem;
    height: 4rem;
    text-size-adjust: 2rem;
    background-color: #cad684;
    border: solid;
    color: black;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight:bold;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 5rem; 
}

#milista{
    width: 100%;
    text-align: center;
}


.btn3 {
    display: block;
    width: 8rem;
    height: 2rem;
    text-size-adjust: 2rem;
    background-color: white;
    border: solid;
    color: black;
    border-radius: 8px;
    font-size: 1rem;
    font-weight:bold;
    margin-bottom: 1rem;
    
}

#fijo {
    display: flex;
    justify-content: center;
}


.btn4 {
    display: block;
    width: 8rem;
    height: 2rem;
    text-size-adjust: 2rem;
    background-color: rgb(233, 181, 203);
    border: solid;
    color: black;
    border-radius: 8px;
    font-size: 1rem;
    font-weight:bold;
    position: relative;
    left: 1%;
    margin-top: 0.5rem;
    
    
}


.btn5 {
    width: 8rem;
    height: 4rem;
    text-size-adjust: 2rem;
    background-color: #cf5252;
    border: solid;
    color: black;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight:bold;
    margin-bottom: 1rem;
    margin-top: 5rem; 
    position: relative;
    left: 66%;
    top: -1rem;
   
}

#final{
    position: relative;
    left: 80%;
    margin-top: -4rem;
}


.botones{
    margin-top: -3rem;
}

.header__contenedor {
    padding-top: 2%;
    padding-bottom: 2%;
    outline-style: solid;
    outline-color: #0f21c9;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #3b3b73 25%, #00d4ff 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  
.super{
    flex-direction: row;
    font-size:30px;
    background-color: #1df553;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    transition: 0.6s;}

.super:hover{
    background-color: red;
}    

#tit_stock{
    margin-right: 3rem;
}    

.selec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}
#items{
    width: 10rem;
    
    font-weight:bold;
}

#cant{
    height: 100%;
}

#compras{
    position: relative;
    margin-bottom: -10rem;
}



#milista{
    position: absolute;
}

#final{
    position: absolute;
}



#tit_super{
    margin-left: 5rem ;
    margin-top: 5rem;
    color: red;
}

.tanda1{
    display: flex;
    height: 15rem;
    justify-content:left
}
.tanda2{
    display: flex;
    height: 15rem;
    justify-content:left;
}

.btn-primary {
    width: 20%;
    height:70%;
    background-color: white;
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
   
}

.btn-primary:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

.btnA{
    width: 20%;
    height:70%;
    background-repeat: no-repeat;
    background-image: url("../images/banana.jpg");
    background-position:center;
    background-color: white;
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;

}

.btnA:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

.btnB{
    width: 20%;
    height:70%;
    background-repeat: no-repeat;
    background-image: url("../images/durazno.jpg");
    background-position:center;
    background-color: white;
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;

}

.btnB:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

.btnC{
    width: 20%;
    height:70%;
    background-repeat: no-repeat;
    background-image: url("../images/harina.jpg");
    background-position:center;
    background-color: white;
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
    

}

.btnC:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

.btnD{
    width: 20%;
    height:70%;
    background-repeat: no-repeat;
    background-image: url("../images/fideos.jpg");
    background-position:center;
    background-color: white;
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;

}

.btnD:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

#cfinal{
    
    width: 20%;
    height:4rem;
    /* background-repeat: no-repeat;
    background-image: url("../images/fideos.jpg");
    background-position:center; */
    background-color: white;
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
}

#elcarro{
    position: relative;
    margin-left: 65%;
    margin-top: -30%;
    font-size: 25px;
}

#cfinal{
    font-size: 30px;
    position: relative;
    margin-left: 60% ;
    margin-top: -2%;
}